.header-sec{
    background-color: #10961b;
    color: #fff;
}
.course-wrapper{
    margin-top: 25px;
}
.course-section{
    background-color: #fff;
}
.buy-couser-section{
    background-color: #fff;
    border-left: 1px dashed #000;
    
}
#add-tot-cart button{
    font-size: 12px;
    padding: 5px;
    margin: 0 2px 0 0;
}
#tottalPriceBtn{
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    border: none;
    transition: all 0.5s;

}
#tottalPriceBtn:hover{
    background-color: #22e77b;
}
.seller-title{

}